extends layout

block content
  h1 Regression VSP
  p.lead A test VSP, integrated to the wiCode Platform for quick and easy regression testing of retailer integrations.
  hr
  .row
    .col-md-6
      h2 Notice
      p Please note that this is a Proof of Concept application, built to validate the usefulness of an online tool to enable integrated partners book and process wiCode transactions on their Point of Sale systems.
      p
        a(href='/transactions/transaction') Process Test Transaction
    //- .col-md-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-raised(href='#', role='button') View details »
    //- .col-md-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-raised(href='#', role='button') View details »
    //- .col-md-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-raised(href='#', role='button') View details »